.header{
    position: static;
    width: 100%;
    height: 10vh;
    background: rgb(4,4,4);
    background: linear-gradient(180deg, rgba(4,4,4,0.8071603641456583) 0%, rgba(242,242,242,0.48503151260504207) 100%);
    display: flex;
    color: white;
    opacity: 80%;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 80%;
}

.text{
    width: 30vh;
    height: 4vh;
    border-radius: 20px;
    background-color: rgb(68, 68, 68);
    opacity: 80%;
}

.define{
    height: 100%;
    display: flex;
    align-items: center;
}

.define a{
    height: 100%;
}

.footer{
    width: 100%;
    height: 10vh;
    background: rgb(4,4,4);
    background: linear-gradient(0deg, rgba(4,4,4,1) 0%, rgba(185,185,185,0.7707457983193278) 65%, rgba(242,242,242,0) 100%);
    position: absolute;
    bottom: 0;
}

.searchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.search{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.result{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.result img{
    width: 100px;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
}
